<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>한밤의늑대</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
      <% var address = 'ultimatewerewolf2.herokuapp.com'; %>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <h2><a class="navbar-brand" href="#page-top">한밤의 늑대인간</a></h2>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-secondary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                      <h4><li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://<%= address %>/">Home</a></li></h4>

                      <h4><li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://<%= address %>/setting2">게임 설정</a></li></h4>

                      <h4><li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://<%= address %>/contact">문의</a></li></h4>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-center align-items-center flex-column">


              <!-- Portfolio Section-->

              <section class="page-section portfolio" id="portfolio">

                    <div class="container">
                      <!-- Portfolio Section Heading-->
                      <h3 class="page-section-heading text-center text-uppercase text-char mb-0">캐릭터 선택</h3>
                      <h3><p id="gameNumber"></p></h3>
                      <!-- Icon Divider-->
                      <div class="divider-custom">
                          <div class="divider-custom-line"></div>

                      </div>
                      <!-- Portfolio Grid Items-->
                      <div class="row justify-content-start">
                        <!-- 경비병-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                                    <div class="portfolio-item-caption-content text-center text-white tempBtn01 " id="01"><i class="fas fa-plus fa-3x" ></i>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/01_경비병.jpg" alt="..." id ="01"/>
                            </div>
                            <h7>경비병</h7>
                        </div>


                        <!-- 도플갱어-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                                    <div class="portfolio-item-caption-content text-center text-white tempBtn02 " id="02"><i class="fas fa-plus fa-3x"></i>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/02.도플갱어.jpg" alt="..." id ="02"/>
                            </div>
                            <h7>도플갱어</h7>
                        </div>

                        <!-- werewolf1-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                                    <div class="portfolio-item-caption-content text-center text-white tempBtn03" id="03"><i class="fas fa-plus fa-3x"></i>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/03_늑대인간.jpg" alt="..." id ="03"/>
                            </div>
                            <h7>늑대인간1</h7>
                        </div>

                        <!-- werewolf2-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                                    <div class="portfolio-item-caption-content text-center text-white tempBtn04" id="04"><i class="fas fa-plus fa-3x"></i>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/03_늑대인간.jpg" alt="..." id ="04"/>
                            </div>
                            <h7>늑대인간2</h7>
                        </div>

                        <!--태초의 늑대인5-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn05" id="05"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/05_태초의늑대인간.jpg" alt="..." id="05" />
                            </div>
                            <h7>태초의 늑대인간</h7>
                        </div>
                        <!-- 06_신비한늑대인간  -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn06" id="06"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/06_신비한늑대인간.jpg" alt="..." id="06" />
                            </div>
                            <h7>신비한 늑대인간</h7>
                        </div>
                        <!-- 07_하수인-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn07" id="07"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/07_하수인.jpg" alt="..." id="07" />
                            </div>
                            <h7>하수인</h7>
                        </div>
                        <!--프리메이슨-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn08" id="08"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/08_프리메이슨.jpg" alt="..." id="08" />
                            </div>
                            <h7>프리메이슨</h7>
                        </div>
                        <!-- 09_예언자-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                                    <div class="portfolio-item-caption-content text-center text-white tempBtn09" id="09"><i class="fas fa-plus fa-3x"></i>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/09_예언자.jpg" alt="..." id ="09"/>
                            </div>
                            <h7>예언자</h7>
                        </div>
                        <!-- 10_견습예언자 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn10" id="10"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/10_견습예언자.jpg" alt="..." id="10"/>
                            </div>
                            <h7>견습 예언자</h7>
                        </div>
                        <!-- 11_심령수사관 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn11" id="11"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/11_심령수사관.jpg" alt="..." id="11"/>
                            </div>
                            <h7>심령 수사관</h7>
                        </div>
                        <!-- 12_강도 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn12" id="12"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/12_강도.jpg" alt="..." id="12"/>
                            </div>
                            <h7>강도</h7>
                        </div>
                        <!-- 13_마녀-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn13" id="13"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/13_마녀.jpg" alt="..." id="13" />
                            </div>
                            <h7>마녀</h7>
                        </div>
                        <!-- 14_말썽쟁이-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn14" id="14"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/14_말썽쟁이.jpg" alt="..." id="14"/>
                            </div>
                            <h7>말썽쟁이</h7>
                        </div>
                        <!--15_동네얼간이 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn15" id="15"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/15_동네얼간이.jpg" alt="..." id="15"/>
                            </div>
                            <h7>동네 얼간이</h7>
                        </div>
                        <!--16_주정뱅이 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn16" id="16"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/16_주정뱅이.jpg" alt="..." id="16"/>
                            </div>
                            <h7>주정뱅이</h7>
                        </div>
                        <!-- 17_불면증환자-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn17" id="17"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/17_불면증환자.jpg" alt="..." id="17"/>
                            </div>
                            <h7>불면증 환자</h7>
                        </div>
                        <!-- 18_불면증환자도플갱어-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn18" id="18"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/18_불면증환자도플갱어.jpg" alt="..." id="18"/>
                            </div>
                            <h7>불면증 환자 도플갱어</h7>
                        </div>
                        <!--19_계시자 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn19" id="19"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/19_계시자.jpg" alt="..." id="19"/>
                            </div>
                            <h7>계시자</h7>
                        </div>
                        <!--20_계시자도플갱어 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn20" id="20"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/20_계시자도플갱어.jpg" alt="..." id="20"/>
                            </div>
                            <h7>계시자 도플갱어</h7>
                        </div>
                        <!--21_유물관리자 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn21" id="21"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/21_유물관리자.jpg" alt="..." id="21"/>
                            </div>
                            <h7>유물 관리자</h7>
                        </div>
                        <!-- 22_유물관리자도플갱어-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn22" id="22"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/22_유물관리자도플갱어.jpg" alt="..." id="22"/>
                            </div>
                            <h7>유물 관리자 도플갱어</h7>
                        </div>
                        <!-- 23_사냥꾼-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn23" id="23"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/23_사냥꾼.jpg" alt="..." id="23"/>
                            </div>
                            <h7>사냥꾼</h7>
                        </div>
                        <!--24_무두장이 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn24" id="24"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/24_무두장이.jpg" alt="..." id="24"/>
                            </div>
                            <h7>무두장이</h7>
                        </div>
                        <!-- 25_잠자는늑대인간-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn25" id="25"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/26_잠자는늑대인간.jpg" alt="..." id="25"/>
                            </div>
                            <h7>잠자는 늑대인간</h7>
                        </div>
                        <!--26_호위병 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn26" id="26"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/27_호위병.jpg" alt="..." id="26"/>
                            </div>
                            <h7>호위병</h7>
                        </div>
                        <!--27_시민 -->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="portfolio-item-caption-content text-center text-white tempBtn27" id="27"><i class="fas fa-plus fa-3x"></i>

                                  </div>
                                </div>
                                <img class="img-fluid" src="assets/img/char/28_시민.jpg" alt="..." id="27"/>
                            </div>
                            <h7>시민 강민지</h7>
                        </div>




                      </div>
                  </div>
              </section>
                <!-- Masthead Heading-->
                <br></br>
                <div class= "btnparent">

                    <h3><div class="btnfirst btn btn-play btn-outline-light js-rerun">
                        재설정
                  </div></h3>


                  <h3>    <div class="btnsecond btn btn-play btn-outline-light js-check" >
                          설정 확인
                      </div><h3>

                  </div>

                    <h3><a class="btnthird btn btn-play btn-outline-light js-start" href="http://<%= address %>/play_intro2">
                        게임 시작
                    </a></h3>

                  </div>
                  <script>




                  <script>


                    const number = localStorage.getItem("selNumber");
                    const getnumber =JSON.parse(number) +3 ;
                    var gnumber = "<h5><font color='red'>" + getnumber + "</font></h5>";
                    document.getElementById('gameNumber').innerHTML="<h5>선택할 캐릭터 수"+ gnumber +"</h5>"





                  </script>
                <!-- Icon Divider-->

                <!-- Masthead Subheading-->

            </div>
        </header>

        <!-- About Section-->

        <!-- Contact Section-->

        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-temp mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <h3><p class="lead mb-0">
                            36, Banpo-daero 18-gil, Seocho-gu, Seoul
                            <br />Republic of Korea
                            <br />
                            <b>MJ♥YH's Home</b>
                        </p></h3>
                    </div>
                    <!-- Footer Social Icons-->


                    <!-- Footer About Text-->

                </div>
                <br>
                <br>
                <div class="col-lg-temp mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">More details</h4>

                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/kim-yunhu-0a5a71181/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; 2021 <b>MinJi Kang</b> rights reserved.</small></div>
        </div>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cake.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/circus.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/game.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque asumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/safe.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/submarine.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
